.card-spotlight {
    width: 300px;
    --mouse-x: 50%;
    --mouse-y: 50%;
    padding: 1.5rem;
    overflow: hidden;
    min-height: 300px;
    position: relative;
    border-radius: 1.5rem;
    border: 1px solid #222;
    background-color: #2c144d;
    --spotlight-color: rgba(255, 255, 255, 0.25);

    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    .game-card-image {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 1rem;
    }

    .container-text {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        .title {
            font-size: 22px;
            font-weight: 600;
            text-align: center;
        }

        .description {
            font-size: 15px;
        }
    }

    .container-button {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card-spotlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
    opacity: 0.6;
}

.game-card-content {
    opacity: 0;
    color: #fff;
    transition: opacity 0.5s ease;
    
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &:hover {
        opacity: 1;
        transition: opacity 0.5s ease;
    }
}
