.button-game {
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    letter-spacing: 2px;
    background: transparent;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    box-shadow: 0 0 0 0 transparent;
    border: 1px solid rgb(61, 106, 255);

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        transition: all 0.2s ease-out;
        background: rgb(61, 106, 255);
        box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);

        &::before {
            animation: shimmer-effect 0.5s 0s linear;
        }
    }

    &::before {
        width: 0px;
        height: 86%;
        content: "";
        display: block;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: #fff;
        transform: skewX(-20deg);
        box-shadow: 0 0 50px 30px #fff;
    }

    &:active {
        box-shadow: 0 0 0 0 transparent;
        transition: box-shadow 0.2s ease-in;
    }
}

@keyframes shimmer-effect {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}
