.letter-soup-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .letter-soup__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .letter-soup__title {
            font-size: 2rem;
            color: #4B0082;
            font-weight: 600;
        }
    }

    .letter-soup__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }                       
} 