.writing-games {    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    .writing__header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        .writing__title {
            font-size: 2rem;
            color: #4B0082;
            font-weight: 600;
        }
    }

    .writing__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;  
    }                       
} 