.main_layout {
  display: flex;
  overflow-y: auto;
  min-height: 100vh;

  .content_center {
    width: 100%;
    position: relative;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .game {
      padding: 32px;
      border-radius: 16px;
      border: 1px solid #808080;
      position: absolute;
      top: 150px;
      left: 130px;
      right: 415px;
    }
  }
}
