@use "../styles/vars.scss" as vars;

.topbar {
  height: 100px;
  z-index: 1000;
  border-radius: 16px;
  background: #404040;
  position: fixed;
  top: 20px;
  left: 130px;
  right: 415px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .container_search_input {
    margin-left: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .search {
      width: 100%;
      border: none;
      color: #fff;
      font-size: 20px;
      box-sizing: border-box;
      background: transparent;
    }

    .search_border {
      width: 0%;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .search:focus {
      outline: none;
    }

    .search_alt {
      width: 600px;
      font-size: 20px;
      padding-block: 15px;
    }

    .search_border_alt {
      height: 3px;
      transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1);
      // It places "background-image" so that Vite supports the gradient color variable.
      background-image: vars.$search_input_color;
    }

    .search_alt:focus + .search_border_alt {
      width: 100%;
    }
  }

  .container_profile {
    padding: 8px;
    position: relative;
    margin-right: 50px;
    border-radius: 8px;
    box-shadow: 1px 0px 19px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;

    .text_name {
      line-height: 1.3;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .text {
        font-size: 14px;
        color: #bebebe;
      }

      .name {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .button_profile {
      border: none;
      padding: 4px;
      border-radius: 16px;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      &:hover {
        transition: 0.3s ease;
        box-shadow: 1px 0px 15px 3px rgba(0, 0, 0, 0.2);
      }

      .profile_image {
        height: 50px;
        border-radius: 50%;
      }
    }

    .active {
      box-shadow: 1px 0px 15px 3px rgba(0, 0, 0, 0.2);
    }

    .menu {
      width: 100%;
      padding: 8px;
      background: #404040;
      position: absolute;
      left: 0;
      top: 75px;
      display: flex;
      flex-direction: column;

      .container_option {
        width: 100%;
        display: flex;
        list-style: none;

        .options_menu {
          width: 100%;
          color: white;
          padding: 4px 8px;
          border-radius: 4px;
          text-decoration: none;

          &:hover {
            color: #bebebe;
            background: #494949;
          }
        }
      }
    }

    .open {
      display: block;
    }

    .close {
      display: none;
    }
  }
}
